body {
    background-image: url("./images/botanical-dirt-illustration.jpg"), url("./images/close-up-dry-pine-cones.jpg");
    background-size: contain, 40%;
    background-repeat: no-repeat, no-repeat;
    background-color: white;
    background-position: top left, 100% 95%;
}

.content {
font-family: 'Open Sans', Georgia, Helvetica, sans-serif;
width: 620px;
margin: 0px auto 0px auto;
}

.project {
    margin-bottom: 80px;
}

.mainTitle {
    margin: 40px 0px 40px 0px;
}

img.mycyfapp {
    width: 230px;
}

img.lydbelastning {
    width: 230px;
    max-height: 403px;
}

img.tts {
    width: 230px;
    max-height: 403px;
}

img.sudoku{
    width: 230px;
}

img.turistguide {
    width: 500px;
}

img.designhjem {
    width: 230px;
    max-height: 457px;
}

img.designgenser {
    width: 230px;
    max-height: 457px;
}