body {
    background-image: url("./images/botanical-dirt-illustration.jpg"), url("./images/close-up-dry-pine-cones.jpg");
    background-size: 75%, 40%;
    background-repeat: no-repeat, no-repeat;
    background-color: white;
    background-position: top left, 100% 95%;
}

.content {
font-family: 'Open Sans', Georgia, Helvetica, sans-serif;
width: 620px;
margin: 0px auto 0px auto;
}

.project {
    margin-bottom: 80px;
}

.mainTitle {
    margin: 40px 0px 40px 0px;
}

img.mycyfapp {
    width: 230px;
    margin-right: 10px;
}

img.lydbelastning {
    width: 230px;
    max-height: 403px;
    margin-right: 10px;
}

img.tts {
    width: 230px;
    max-height: 403px;
}

img.sudoku{
    width: 230px;
}

img.turistguide {
    width: 500px;
}

img.designhjem {
    width: 230px;
    max-height: 457px;
    margin-right: 4px;
}

img.designgenser {
    width: 230px;
    max-height: 457px;
}

img.masteroppgave {
    width: 230px;
    margin-right: 10px;
    border-radius: 3px;
}

img.masteroppgave_1 {
    outline: 2px solid rgb(239, 239, 239);
    outline-offset: -2px;
}

@media only screen and (max-width: 1160px) {
    body {
        background-size: 75%, 40%;
    }
}