/*  remember responsive design
    em, rem, % not px
    The unit of em sizes font relative to the font size of a parent element.
    The unit of rem sizes font relative to the font size of a root element. That root element is the <html> element.
    When percentages are used to size width and height, child elements will be sized relative to the dimensions of their parent 
    (remember that parent dimensions must first be set).
*/

html {
    font-size: 16px;    /*this is default font-size for browsers, has no effect.*/
    background-color: rgb(214, 214, 214);
    /*height: 100vh;*/
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #666666;
    margin: auto;
    font-size: 1em;
    width: 50%;
    /*min-height: 100vh;*/
}

.content {
    background-color: #FFFFFF;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.content--grey {
    background-color: #EFEFEF;
    padding-top: 0.1em;
    padding-bottom: 2em;
}

.bold {
    font-weight: bold;
    color: #666666;
}

.small-text {
    font-size: 0.7em;
}

a {
    text-decoration-line: none;
}

.button {
    border-radius: 3em;
    background-color: rgb(83, 201, 87);
    border: none;
    color: white;
    padding: 0.8em 1.4em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4em auto 0em auto;
    display: block;
    width: 7.5em;
    box-shadow: 0em 0.17em 0.3em rgba(97, 97, 97, 0.75);
}

#sendInButton {
    margin-top: 5em;
    width: fit-content;
}

.back-chevron {
    width: 2.6em; 
}

.header__grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min-content auto;
    padding: 1.5em 0.8em 1.5em 0.5em;
    border-bottom: 0.1em solid rgb(214, 214, 214);
    background-color: #FFFFFF;
}

.header__item1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin-top: 0.3em;
    margin-right: 0.4em;
    text-decoration: none;
}

.header__item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-bottom: 0.7em;
    padding-top: 0.1em;
}

.header__item3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.header--positive {
    background-image: linear-gradient(to right, rgba(106, 202, 37, 0.5), rgba(178, 233, 138, 0.5));
}

.header--negative {
    background-image: linear-gradient(to right, rgba(252, 55, 29, 0.5), rgba(254, 142, 122, 0.5));
}

.card {
    border-radius: 0.5em;
    background-color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em auto 0 auto;
    width: 93%;
    box-shadow: 0em 0.05em 0.1em rgba(116, 116, 116, 0.589);
}
/*
.feedback-container--negative {
    border-radius: 0.5em;
    background-color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em auto 0 auto;
    width: 93%;
}
*/
.feedback--like-bar {
    background-color: rgb(89, 219, 93);
    color: #FFFFFF;
    /*background-image: linear-gradient(to right, #6ACA25, #B2E98A);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    font-weight: bold;*/
    margin-right: 1.3em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    padding: 0.5em 0 0.5em 0.7em;
    border-radius: 0.3em;
    width: 72%;
    box-shadow: 0em 0.1em 0.3em rgba(97, 97, 97, 0.75);
}

.feedback--dislike-bar {
    background-color: rgb(238, 54, 41);
    /*background-image: linear-gradient(to right, #FC361D, #FE8E7A);*/
    color: #FFFFFF;
    margin-right: 1.3em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    padding: 0.5em 0 0.5em 0.7em;
    border-radius: 0.3em;
    width: 72%;
    box-shadow: 0em 0.1em 0.3em rgba(97, 97, 97, 0.75);
}

/*dette iconet bør finnes som svg og gjøres mer grå, ikke svart som nå*/
.feedback__plus-icon {
    float: right;
    margin-top: 0.4em;
    margin-right: 3%;
    width: 1.5em;
}

.feedback__post {
    margin-left: 2em;
    margin-bottom: 0.5em;
}
/*
.theme-list {
    border-radius: 0.5em;
    background-color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em auto 0 auto;
    width: 93%;
}
*/

.theme__header {
    margin: -0.3em 0.8em 0.5em 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 0.1em solid #EFEFEF;
    text-align: center;
}

.theme__item {
    margin: 0.5em 0.8em 0 0.8em;
    padding-bottom: 0.55em;
    padding-left: 0.3em;
    border-bottom: 0.1em solid #EFEFEF;
}


/* SEARCH AUTOCOMPLETE*/

.inputField {
    border-radius: 5em;
    border: 0.1em solid rgba(34, 36, 38, 0.342);
    padding: 0.5em 0.8em;
    margin-top: 0.8em;
    margin-bottom: 5em;
    margin-left: -0.7em;
    width: 93%;
}

.inputField::placeholder {
    opacity: 0.6;
}

/*.fuzzyResults and .__autoitem are class name generated by FuzzyComplete*/

/*the box where the results of the autocomplete comes.
Do NOT change the name of this class, it will break fuzzyComplete*/
.fuzzyResults {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    white-space: normal;
    background: #FFFFFF;
    margin-top: 0.5em;
    width: 18em;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
            box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border: 1px solid #D4D4D5;
    z-index: 998;
}

/*the class that each item of the autocomplete list gets.
Do NOT change the name of this class, it will break fuzzyComplete*/
.__autoitem {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 0.8em;
    padding: 0.4em 0.4em;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}


/*Comments*/

.input__comment {
    width: 93%;
    height: 4em;
    margin-top: 1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.input__comment::placeholder {
    opacity: 0.6;
}


/*Theme radio buttons*/

.theme-form {
    margin-top: 1.5em;
    margin-left: -1.18em;
}

ul {
    padding: 0em;
}

form ul li {
    list-style: none;
    width: fit-content;
    margin-bottom: 1em;
}

.input__label {
    border-radius: 0.8em;
    background-color: rgb(213, 227, 255);
    color: black;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0em 0.09em 0.3em rgba(97, 97, 97, 0.75);
}

input[name=theme] {
    margin-top: 2em;
    opacity: 0;
}

input:checked + label {
    background-color: rgb(99, 136, 206);
    color: #FFFFFF;
}

.theme__help-text {
    margin-top: 2em;
    margin-left: 2em;
}


/*media queries*/

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    body {
        width: 35em;
    }
}
/*
@media screen and (max-height: 900px) {
    body {
        height: 100%;
    }
}
*/