
ul.topnav {
	list-style: none;
	padding: 0 20px;
	width:97%;
	margin: auto;
	float:left;
	background: #222;
	font-size: 1vw;
	letter-spacing: 1px;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 0px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
}
ul.topnav li p{
	padding: 10px 0px;
	color: #fff;
	display: block;
	float: left;
}
ul.topnav li a:hover{
	text-decoration: underline;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
	z-index:5;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(images/dropdown_linkbg.gif) no-repeat 10px center; 
}


hr {
	border-color:black;
}

#content {
	min-height: 100%;
	margin-left:30%;
	width: 55%;
	padding-bottom: 60px;
}

#menu {
	width:100%;
}

#content p {
	width: 80%;
	margin-bottom: 35px;
}

header {
	font-size: 32px;
	text-align:center;
}

header img {
	padding-top:30px;
	padding-bottom: 30px;
	margin-bottom: -70px;
	margin-left: -380px;
	padding-right: 2px;
	
}

#greet {
	margin-left: 50px;
}

body {
	background-color:#e6e6e6;
}

#clock {                        /* Style apply to element with id="clock" */
	font-size: 1vw;
	font-family: Calibri Light;
	letter-spacing: 5px; 
	color: #ffffff;
}

#message {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1vw;
	letter-spacing: 1.5px;
 	color: #ffffff;
 	float: right;
	position: relative;
}

#main {
	width:97%;
}

#sidebar {
	position:relative;
	width: 17%;
	float:right;
	display:inline-block;
	margin-left: 8px;
	margin-top: 10px;
}

#sdf {
	position:relative;
	width: 5%;
	float:left;
	display:inline-block;
	margin-left: 8px;
	margin-top: 10px;
}


#footer {
	height:4em;
	bottom:0;
	width:100%;
	text-align:center;
	background: #222;
	color: #fff;
	clear:none;
	float:left;
}

#pic {
	margin-top: 10px;
	border-radius: 10px;
	clear:both;
	width: 60%;
	margin-bottom: 10px;
}


/** Image has to be wrapped in div. This creates a shiv to bump down the image and all text to wrap **/
.rightimage:before {
  content: '' ;
  display:block;
  height: 200px;
  
}


input:required {
	box-shadow: 0px 1px 0px 1px #ffffff;
	background-color: #ffffff;
}

h2 {
	font-size:32px;
	font-weight: 400;
}

.nextbutton {
	position:fixed;
    top:50%;
    text-decoration: none;
    font-size: 35px;
    color: black;
}

.nextbutton:visited {
	position:fixed;
    top:50%;
    text-decoration: none;
    font-size: 35px;
    color: black;
}

.test {
    font-size: 12px;
}

iframe {
	border:0;
	float:left;
}

html, body {
	height: 100%;
}